@charset "utf-8";
html {
    font-size: 100%;
}
body {
    font-size: 1em;
    background: #fafafa;
}
ul{
    padding: 0;
    list-style: none;
}
@media (max-width: 1200px){
    .tel-phone,.img-wrap a{
        display: none;
    }
}
@media (min-width: 768px) and(max-width: 1200px){

    .tel-phone,.img-wrap a{
        display: block;
    }
}
.tel-phone{
    float: left;
    line-height: 2.5em;
    color: #56a087;
}
.img-wrap{
    text-align: right;
    line-height: 2.5em;
}
.iphone-img, .weixin-img, .weibo-img{
    position: relative;
    top:0.8em;
    width: 2em;
    height: 2em;
    background-size: 100%;
    display: inline-block;
    margin-right:1em;
}
.iphone-img{
    background: url("../images/t_05.jpg") no-repeat;
}
.weixin-img{
    background: url("../images/t_03.jpg") no-repeat;
}
.weibo-img{
    background: url("../images/t_07.jpg") no-repeat;
}
.navb{
    background: #29B078;
}
.navb a{
    color: #ffffff;
}
.home-logo {
    padding-top: 1em;
}
.home-logo img{
    max-width:  100%;
}
@media (max-width: 1200px) {
    .suoluetu{
        display: none;
    }
    .navb a{
        background: transparent;
        text-decoration: none;
        color: #08c;
    }
    .line-tri{
        float: right;
        width:30px;
        height:25px;
        margin-top: 1.2em;
        padding: 5px 0;
        border-top: 5px solid currentColor;
        border-bottom: 5px solid currentColor;
        background-color: currentColor;
        background-clip: content-box;
    }
}
@media (min-width: 1200px) {
    .line-tri {
        display: none;
    }
}
.nav li{
    height: 6.125em;
    line-height: 6.125em;
    margin-left: 5em;
    list-style: none;
    float: left;
    color: #ffffff;
    list-style: none;
}
a:link { text-decoration: none;}
a:active { text-decoration: none;}
a:hover { text-decoration: none;}
a:visited { text-decoration: none;}
.nav li:hover{
    border-bottom: 5px solid #ffffff;
}
.banner{
    height: auto;
    overflow: hidden;
    margin: 0;
}
.banner img{
    display: block;
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
.nav-bg{
    background: #e8e8e8
}
.notice {
    text-align: center;
    height: 2.5em;
    line-height: 2.5em;
    overflow: hidden;
}
.notice span{
    flex-shrink: 0;
    color: #ed6f44;
}
.notice li{
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mark{
    background: #fafafa;
}
.first-home{
    text-align: center;
    padding: 70px 0 58px 0

}
.first-home h4{
    margin-top: 1em;
    margin-bottom: 1em;
}
.learn{
    background: #fafafa;
}
.learn h3{
    text-align: center;
}
.number-div{
    text-align: center;
    display: inline-block;
    width: 4em;
    height: 4em;
    line-height: 4em;
    box-shadow: 3px 3px 2px #ecebeb;
    border-radius: 50%;
    color: #29b078;
}
.learn .text{
    width: 12em;
    height: 3em;
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.625em;
    color: #999999;
}
.learn .text img{
    position: absolute;
    top:1em;
    right: 0;
}
.row-top{
    margin-top: 3em;
}
.excellent h3{
    padding:  1em 0 1em 0;
    text-align: center;
}
.excellent .touxiang{
    overflow: hidden;
    margin: 0 auto;
    width: 5em;
    height: 5em;
    border-radius: 50%;
}
.touxiang img{
    width: 100%;
    height: 100%;
}
.excellent h4{
    width: auto;
    height: auto;
    font-weight: bolder;
    text-align: center;
}
.excellent p{
    color: #b0b0b0;
    padding-top: 1em;
}
.first-excellent{
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #efeeee;
    box-shadow: 2px 2px 2px #efeeee;
}
.dots{
    padding: 1em;
    text-align: center;
}
.dots li{
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.625em;
    border: 1px solid red;
    border-radius: 50%;
}
.qiye {
    text-align: center;
    padding: 3em 0 3em 0;
    box-shadow: 4px 4px 2px #efeeee;
}
.friend{
    margin-top:4em;
    background: #ffffff;
}
.friend h3{
    padding:  1em 0 1em 0;
    text-align: center;
}
.friend ul{
    text-align: center;
}
.friend ul li{
    margin-left: 1em;
    display: inline-block;
}
.footer{
    margin-top: 10em;
    background: #26a26f;
    color: #ffffff;
}
.footer p{
    padding-top: 1em;
}
.footer .wx-img{
    text-align: center;
}
.footer img{
    width: 3em;
    height: 3em;
}
.mowei{
    border-top: 1px solid #32c086;
    text-align: center;
}
/*企业详细页*/
.cooper span{
    height: 3em;
    line-height: 3em;
}
.cooper span a{
    font-weight: bold;
    color: #29b078;
}
.yuan{
    width: 1em;
    height: 1em;
    line-height: 1em;
    border: 2px solid orange;
    border-radius: 50%;
    display: inline-block;
}
.yihao{
    padding-top: 3em;
    margin-bottom: 2em;
    border: 1px solid #e6e6e6;
    text-align: center;
    box-shadow: 2px 2px 1px #e6e6e6;
}
.enterprise h3{
    text-align: center;
}
.enterprise li{
    padding: 1em;
}
.right-full{
    /*border: 1px solid #e6e6e6;*/
    box-shadow: 2px 2px 1px #e6e6e6;
    line-height: 1.5em;
    color: #999999;
    margin-left: 2em;
}
.img-qiye{
    float:left;
    width: 11em;
    padding-left: 1em;
}
.descr-qiye{
    text-indent: 2em;
    padding: 0 2em 0 2em;
}
.xiaxian{
    padding: 0.625em 0 0.625em 0;
    border-bottom: 1px solid #e6e6e6;
}
.duanluo{
    padding: 3em 2em 0 2em;
}

/*开发方向详细页样式*/
.dire-div{
    padding: 1em 0 1em 0;
}
.dire-div span{
    color: #a1a1a1;
}

@media (max-width: 600px) {
    .dire-div button {
        margin-top: 0.625em;
    }

}
.spec-qiduan{
    padding: 1em 0 1em 0;
    font-weight: bolder;
    border-bottom: 1px solid #d0d6d9;
}
.img-touxiang{
    float: left;
    padding: 0.625em;
}
.specific .xingxing img{
    vertical-align: text-bottom;
}
.qianduan-detail{
    display: inline;
}
.specific{
    font-size: 10px;
}
.specific .zhezhao{
    width: 92%;
    height: 96%;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-weight: bolder;
    z-index: 1;
    position: absolute;
    background: rgba(0,0,0,0.7);
}
@media (max-width: 420px) {
    .specific .zhezhao{
        height: 100%;
    }
}
.specific .zhezhao h4{
    position: absolute;
    top: 5em;
    left: 30%;
}
.specific .zhezhao span{
    padding: 2em;
}
.specific td span{
    color: red;
}
.specific td{
    text-align: center;
}
.specific .xinzi{
    line-height: 100px;
}
.formblock{
    margin-top: 4em;
}